
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cancel</title>
    <link rel="shortcut icon" href="~/Content/favicon/favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/73f851add2.js" crossorigin="anonymous"></script>
    <link href="~/Content/css/Cancel.css" rel="stylesheet" />
</head>
<body>
    <i class="fa-solid fa-circle-xmark"></i>
    <p>No se pudo procesar tu pago</p>
    <a href="@Url.Action("Jurixfy", "Jurixfy")"><span>Ir al inicio</span></a>
</body>
</html>
