
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pago</title>
    <link rel="shortcut icon" href="~/Content/favicon/favicon.ico" type="image/x-icon" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/Pago.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row row-equal-height justify-content-center align-items-center">
            <div class="col-md-12">
                <h2 class="text-center">Pagar Membresía</h2>
            </div>
            <div class="col-md-6">
                <div class="card-container">
                    <div class="card-content">
                        <img src="#" id="ImgProduc" style="max-width: 60%; height: 60%;" />
                        <div class="mt-3" style="text-align:justify">
                            <label for="producto" class="font-weight-bold">Producto:</label>
                            <label id="producto"></label>
                        </div>
                        <div class="mt-3" style="text-align:justify">
                            <label for="descripcion" class="font-weight-bold">Descripción:</label>
                            <label id="productoDesc"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-container">
                    <div class="card-content">
                        <h3>Datos de la Compra</h3>
                        <div class="gray-line"></div>
                        <ul style="list-style: none; padding-left: 0;">
                            <li class="list-item">Membresía de $<span id="precioM"></span></li>
                            <li class="list-item">Total: $<span id="precioT"></span></li>
                        </ul>
                        <button id="pagar" type="button" class="btn btn-primary btn-block" data-id="">Pagar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="coreoEncrypt" data-corro-url="@ViewBag.Correo"></div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/Content/js/Script.js" type="module"></script>
</body>
</html>
