
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Succes</title>
    <link rel="shortcut icon" href="~/Content/favicon/favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/73f851add2.js" crossorigin="anonymous"></script>
    <link href="~/Content/css/Succes.css" rel="stylesheet" />
</head>
<body>
    <i class="fa-solid fa-circle-check"></i>
    <p>¡GRACIAS POR TU COMPRA!</p>
    <p>Nos complace informarle que su membresía ha sido procesada con éxito y ahora forma parte de nuestra plataforma. Hemos enviado los detalles de inicio de sesión a su dirección de correo electrónico.</p>
    <a href="@Url.Action("Jurixfy", "Jurixfy")"><span>Ir al inicio</span></a>
</body>
</html>
